---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Values from "../components/Values.astro";
import Goals from "../components/Goals.astro";
import Roadmap from "../components/Roadmap.astro";
---

<Layout title="aux.computer">
	<main>
		<Header />

		<div class="grid place-items-center">
			<Hero />
			<div class="prose prose-invert py-16 px-4 max-w-3xl">
				<Values />
				<Goals />
				<Roadmap />
			</div>
		</div>
	</main>
</Layout>

<style></style>
