---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Values from "../components/Values.astro";
import Goals from "../components/Goals.astro";
import Roadmap from "../components/Roadmap.astro";
---

<Layout title="aux.computer">
	<main>
		<Header />
		<Hero />
		<Values />
		<Goals />
		<Roadmap />
	</main>
</Layout>

<style></style>
