---
import { useTranslations } from "../../i18n/utils";
import type { Params } from "../../i18n/utils";

const { lang } = Astro.params as Params;
const translation = useTranslations(lang);
---

<section id="goals">
	<h2>{translation("goals.title")}</h2>
	<div>
		<ol>
			<li>
				<h3>{translation("goals.independent.title")}</h3>
				<p>
					{translation("goals.independent")}
				</p>
			</li>
			<li>
				<h3>{translation("goals.gov.title")}</h3>
				<p>
					{translation("goals.gov")}
				</p>
				<p>
					<a
						href="https://wiki.auxolotl.org/community"
						target="_blank"
						rel="noopener noreferrer"
					>
						{translation("goals.gov.wiki")}
					</a>
				</p>
			</li>
			<li>
				<h3>{translation("goals.education.title")}</h3>
				<p>
					{translation("goals.education")}
				</p>
			</li>
		</ol>
	</div>
</section>

<style></style>
