---
import { useTranslations } from "../../i18n/utils";
import { Image } from "astro:assets";
import auxText from "../../../public/aux-text.svg";
import type { Params } from "../../i18n/utils";

const { lang } = Astro.params as Params;
const translation = useTranslations(lang);
---

<div class="w-full bg-[rgb(var(--background))]">
	<div class="hero rounded-bl-3xl rounded-br-3xl">
		<div class="content">
			<div class="icon">
				<Image src={auxText} alt="aux" />
			</div>
			<div class="description">{translation("root.description")}</div>
		</div>
	</div>
</div>

<style>
	.hero {
		display: flex;
		justify-content: center;
		width: 100%;
		margin: 0 auto;
		background: rgb(var(--background-light));
		padding-top: 1rem;
		padding-bottom: 1rem;
	}

	.content {
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: 2rem;
	}

	.content .icon {
		position: relative;
	}

	.content .icon img {
		width: 100%;
		height: auto;
		max-width: 450px;
	}

	.content .title {
		padding-top: 1.5rem;
		text-align: center;
		font-size: 2rem;
	}

	.content .description {
		text-align: center;
		font-size: 1.25rem;
		text-wrap: balance;
	}
</style>
