---
import Hero from "./Hero.astro";
import Values from "./Values.astro";
import Goals from "./Goals.astro";
import Roadmap from "./Roadmap.astro";
import I18nOutdated from "../i18n/Outdated.astro";

import type { Params } from "../../i18n/utils";

const { lang } = Astro.params as Params;
import { isOutdated as i18nIsOutdated } from "../../i18n/utils";
---

<main class="grid place-items-center">
	{i18nIsOutdated(lang) && <I18nOutdated />}

	<Hero />

	<div
		class="py-16 px-4 flex justify-center w-full bg-[rgb(var(--background))]"
	>
		<div class="prose prose-invert max-w-4xl w-full">
			<Values />
			<Goals />
			<Roadmap />
		</div>
	</div>
</main>
