---
import Hero from "./Hero.astro";
import Values from "./Values.astro";
import Goals from "./Goals.astro";
import Roadmap from "./Roadmap.astro";
---

<main class="grid place-items-center">
	<Hero />

	<div class="prose prose-invert py-16 px-4 max-w-3xl">
		<Values />
		<Goals />
		<Roadmap />
	</div>
</main>
