---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translation = useTranslations(lang);
---

<section id="goals">
	<h2>{translation("goals.title")}</h2>
	<div>
		<ol>
			<li>
				<h3>{translation("goals.independent.title")}</h3>
				<p>
					{translation("goals.independent")}
				</p>
			</li>
			<li>
				<h3>{translation("goals.gov.title")}</h3>
				<p>
					{translation("goals.gov")}
				</p>
			</li>
			<li>
				<h3>{translation("goals.stabilization.title")}</h3>
				<p>
					{translation("goals.stabilization")}
				</p>
			</li>
			<li>
				<h3>{translation("goals.infra.title")}</h3>
				<p>
					{translation("goals.infra")}
				</p>
			</li>
			<li>
				<h3>{translation("goals.education.title")}</h3>
				<p>
					{translation("goals.education")}
				</p>
			</li>
		</ol>
	</div>
</section>

<style>
</style>
