---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="goals">
	<h2 class="title">Goals</h2>
	<div>
		<ol>
			<li>
				<h3>{t("goals.independent.title")}</h3>
				<p>
					{t("goals.independent")}
				</p>
			</li>
			<li>
				<h3>{t("goals.gov.title")}</h3>
				<p>
					{t("goals.gov")}
				</p>
			</li>
			<li>
				<h3>{t("goals.stabilization.title")}</h3>
				<p>
					{t("goals.stabilization")}
				</p>
			</li>
			<li>
				<h3>{t("goals.infa.title")}</h3>
				<p>
					{t("goals.infa")}
				</p>
			</li>
			<li>
				<h3>{t("goals.education.title")}</h3>
				<p>
					{t("goals.education")}
				</p>
			</li>
		</ol>
	</div>
</section>

<style>
</style>
