---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translation = useTranslations(lang);
---

<section id="roadmap">
	<h2>{translation("roadmap.title")}</h2>

	<ol>
		<li>
			<h3>{translation("roadmap.soft_fork.title")}</h3>
			<p>
				{translation("roadmap.soft_fork.1")}
			<p>
				{translation("roadmap.soft_fork.2")}
			</p>
		</li>
		<li>
			<h3>{translation("roadmap.hard_fork.title")}</h3>
			<p>
				{translation("roadmap.hard_fork.1")}
			</p>
			<p>
				{translation("roadmap.hard_fork.2")}
			</p>
			<p>
				{translation("roadmap.hard_fork.3")}
			</p>
		</li>
		<li>
			<h3>{translation("roadmap.organization.title")}</h3>
			<p>
				{translation("roadmap.organization.1")}
			</p>
			<p>
				{translation("roadmap.organization.2")}
			</p>
			<p>
				{translation("roadmap.organization.3")}
			</p>
		</li>
		<li>
			<h3>{translation("roadmap.infra.title")}</h3>
			<p>
				{translation("roadmap.infra.1")}
			</p>
			<p>
				{translation("roadmap.infra.2")}
			</p>
			<p>
				{translation("roadmap.infra.3")}
			</p>
		</li>
		<li>
			<h3>{translation("roadmap.alignment.title")}</h3>
			<p>
				{translation("roadmap.alignment.1")}
			</p>
			<p>
				{translation("roadmap.alignment.2")}
			</p>
		</li>
	</ol>
</section>

<style>
</style>
