---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const translation = useTranslations(lang);
---

<section id="values">
	<h2>{translation("values.title")}</h2>
	<h3 class="name">{translation("values.rep.title")}</h3>
	<p class="description">
		{translation("values.rep")}
	</p>
	<h3 class="name">{translation("values.kindness.title")}</h3>
	<p class="description">
		{translation("values.kindness")}
	</p>
	<h3 class="name">{translation("values.collab.title")}</h3>
	<p class="description">
		{translation("values.collab")}
	</p>
	<h3 class="name">{translation("values.sustainability.title")}</h3>
	<p class="description">
		{translation("values.sustainability")}
	</p>
	<h3 class="name">{translation("values.accessibility.title")}</h3>
	<p class="description">
		{translation("values.accessibility")}
	</p>
</section>

<style>
</style>
