---

---

<section id="values">
	<h2 class="title">Values</h2>
	<h3 class="name">Representation</h3>
	<p class="description">
		Contributors should have their views represented and organizational
		structure should be established democratically.
	</p>
	<h3 class="name">Kindness</h3>
	<p class="description">
		The project should be welcoming and a safe place for people to
		participate.
	</p>
	<h3 class="name">Collaboration</h3>
	<p class="description">
		Communication and cooperation should be encouraged.
	</p>
	<h3 class="name">Sustainability</h3>
	<p class="description">
		Workload, finance, scope, and burnout should all be considered carefully
		to ensure that the project is stable.
	</p>
	<h3 class="name">Accessibility</h3>
	<p class="description">
		Elitism is unwelcome, our knowledge is here to be shared and we should
		provide the tools to help everyone succeed and learn.
	</p>
</section>

<style>
</style>
