---
import { getLangFromUrl, useTranslations } from '../i18n/utils';

const lang = getLangFromUrl(Astro.url);
const t = useTranslations(lang);
---

<section id="values">
	<h2>{t("values.title")}</h2>
	<h3 class="name">{t("values.rep.title")}</h3>
	<p class="description">
		{t("values.rep")}
	</p>
	<h3 class="name">{t("values.kindness.title")}</h3>
	<p class="description">
		{t("values.kindness")}
	</p>
	<h3 class="name">{t("values.collaboration.title")}</h3>
	<p class="description">
		{t("values.collaboration")}
	</p>
	<h3 class="name">{t("values.sustainability.title")}</h3>
	<p class="description">
		{t("values.sustainability")}
	</p>
	<h3 class="name">{t("values.accessibility.title")}</h3>
	<p class="description">
		{t("values.accessibility")}
	</p>
</section>

<style>
</style>
